* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #33333d;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.grey {
  color: grey;
}

html {
  scroll-behavior: smooth
}

body {
  background-color: #F9F9F9;
}

header {
  min-height: 8vh;
}

#header {
  position: relative;
}

#header-content {
  width: 80%;
}

#header-logo {
  padding: 1em;
}

#header-logo p {
  font-size: 1.7em
}

#header-nav {
  font-size: 2em;
  padding: 1em;
  margin-top: 2%;
}

header div .name {
  font-size: 2.2em;
  font-weight: 300;
}

.fswd,
#contact {
  font-size: 2.3em;
  font-weight: 100;
  background: linear-gradient( #F3F3F3, #E0F4F4);
}

.logo {
  margin-bottom: 0;
  font-weight: 400;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  width: 100%;
  margin: 0 0 1em 0;
  display: block;
}

.nav li:last-child {
  margin: 0;
}

.nav a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  min-height: 90vh;
  width: 100%;
}

.container2 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  align-content: center;
}

.container3 {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 90vh;
  width: 100%;
  align-content: center;
}

#work {
  min-height: 80vh;
  background: linear-gradient( #F9F9F9 ,#F3F3F3);
}

img {
  width: 100%;
}

.figure {
  margin-right: 1em;
}

.work-title {
 flex: 1; 
}

.name {
  font-size: 1.5em;
  text-align: center;
}

.name h1 {
  max-width: 60%;
  margin: auto;
  font-weight: 400;
}

.webdev {
  text-align: center;
}

.webdev a {
  font-family: 'Cutive Mono';
  font-weight: bold;
}

.item {
  display: flex;
  align-items: flex-start;
  width: 40em;
  text-align: center;
  line-height: 170px;
}

.item:nth-child(1){
  align-self: flex-end;
}

.item:nth-child(3){
  align-self: flex-end;
}

.item2 {
  width: 50%;
}

#home_contact {
  min-height: 15vh;
  background-color: #F3F3F3;
}

.black {
}

@media screen and (min-width:600px) {
  /* Header */
  #header {
    padding: 1em;
  }
  #header-content {
    margin: 0 auto;
    overflow: hidden;
  }
  #header-logo {
    padding: 0;
    background: none;
    float: left;
  }
  #header-nav {
    padding: .5em;
    background: none;
    float: right;
    display: block;
    margin-right: 5%;
  }
  #header-logo p {}
  /* #header-nav-toggle {display:none;} */
  /* Nav */
  .nav li {
    width: auto;
    margin: 0 .5em;
    display: inline-block;
  }
  .logo {
  }
}